<!DOCTYPE html>
<html lang="en">
<head>
<title>AirLines | Search</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="../static/js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="../static/js/cufon-yui.js"></script>
<script type="text/javascript" src="../static/js/cufon-replace.js"></script>
<script type="text/javascript" src="../static/js/Cabin_400.font.js"></script>
<script type="text/javascript" src="../static/js/tabs.js"></script>
<script type="text/javascript" src="../static/js/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="../static/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="../static/js/atooltip.jquery.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="../static/js/html5.js"></script>
  <style type="text/css">.main, .tabs ul.nav a, .content, .button1, .box1, .top {
    behavior: url("../static/js/PIE.htc")
  }</style>
  <![endif]-->
</head>
<body id="page2">
<div class="main">
  <!--header -->
  <header>
    <div class="wrapper">
      <h1><a href="{{ url_for('index') }}" id="logo">AirLines</a></h1>
      <span id="slogan">Fast, Frequent &amp; Safe Flights</span>
      <nav id="top_nav">
        <ul>
          <li><a href="{{ url_for('index') }}" class="nav1">Home</a></li>
          {% if session['user']['id']!="" and session['user']['username']!="" %}
          <li><a onclick="logout()" class="nav2">Logout</a></li>
          {% else %}
          <li><a  onclick="logincostume()" class="nav2">Login</a></li>
          {% endif %}
          <li><a href="{{ url_for('contacts') }}" class="nav3">Contact</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul id="menu">
        <li><a href="{{ url_for('index') }}"><span><span>About</span></span></a></li>
        <li id="menu_active"><a href="{{ url_for('backsearch') }}"><span><span>Search</span></span></a></li>
        <li><a href="{{ url_for('safety') }}"><span><span>Safety</span></span></a></li>
        <li class="end"><a href="{{ url_for('contacts') }}"><span><span>Contacts</span></span></a></li>
      </ul>
    </nav>
  </header>
  <!-- / header -->
  <!--content -->
  <section id="content">
    <div class="wrapper pad1">
      <article class="col1">
        <div class="box1">
          <h2 class="top">Hot Search of the Week</h2>
          <div class="pad"> <strong>Birmingham</strong><br>
            <ul class="pad_bot1 list1">
              <li> <span class="right color1">from GBP 143.-</span> <a href="book2.html">Zurich</a> </li>
            </ul>
            <strong>London (LCY)</strong><br>
            <ul class="pad_bot1 list1">
              <li> <span class="right color1">from GBP 176.-</span> <a href="book2.html">Geneva</a> </li>
              <li> <span class="right color1">from GBP 109.-</span> <a href="book2.html">Zurich</a> </li>
            </ul>
            <strong>London (LHR)</strong><br>
            <ul class="pad_bot2 list1">
              <li> <span class="right color1">from GBP 100.-</span> <a href="book2.html">Geneva</a> </li>
              <li> <span class="right color1">from GBP 112.-</span> <a href="book2.html">Zurich</a> </li>
              <li> <span class="right color1">from GBP 88.-</span> <a href="book2.html">Basel</a> </li>
            </ul>
            <strong>Manchester</strong><br>
            <ul class="pad_bot2 list1">
              <li> <span class="right color1">from GBP 97.-</span> <a href="book2.html">Basel</a> </li>
              <li> <span class="right color1">from GBP 103.-</span> <a href="book2.html">Zurich</a> </li>
            </ul>
            <strong>Edinburgh</strong><br>
            <ul class="pad_bot2 list1">
              <li> <span class="right color1">from GBP 165.-</span> <a href="book2.html">Zurich</a> </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="col2">
        <div class="container" >
          <div class="text text-center text-danger " style="font-size: 25px; font-weight: bold">
            Search tool
          </div>
          <div>
            <form action="{{ url_for('search') }}">
                <div class="row">
                  <div class="col-md-3">From</div>
                  <div class="col-md-9 form-group">
                      <select name="airfrom" class="select3">
                        {% for c in countrys %}
                        <optgroup label="{{ c.country }}">
                          {% for ci in citys %}
                          {% if c.country == ci.country %}
                          {% if info["airfrom"] == ci.city %}
                            <option value="{{ ci.city }}" selected="selected">{{ ci.city }}</option>
                          {% else %}
                            <option value="{{ ci.city }}">{{ ci.city }}</option>
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                        </optgroup>
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">To</div>
                  <div class="col-md-9 form-group">
                      <select name="airto" class="select3">
                        {% for c in countrys %}
                        <optgroup label="{{ c.country }}">
                          {% for ci in citys %}
                          {% if c.country == ci.country %}
                          {% if info["airto"] == ci.city %}
                            <option value="{{ ci.city }}" selected="selected">{{ ci.city }}</option>
                          {% else %}
                            <option value="{{ ci.city }}">{{ ci.city }}</option>
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                        </optgroup>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-3">So ghe</div>
                  <div class="col-md-3 form-group">
                      <input type="number" class="select3" value="{{info['seats']}}" name="seats">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">Tu ngay</div>
                    <div class="col-md-9">
                      <input type="date" alt="date" class="select3" name="datestart" value="{{ info['datestart'] }}">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">Den ngay</div>
                    <div class="col-md-9">
                      <input type="date" alt="date" class="select3" name="dateend" value="{{ info['dateend'] }}">
                    </div>
                </div>
                <div class="form-group">
                  <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
                </div>
            </form>
          </div>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Day</th>
                <th scope="col">Fly time</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% if kt == True %}
              <h1>Không tìm được chuyến bay phù hợp</h1>
              {% else %}
                {% for f in fly %}
                <tr>
                  <td>{{ f.id }}</td>
                  <td>{{ f.day }}</td>
                  <td>{{ f.time }}</td>
                  <td><a href="{{ url_for('book',idfly = f.id )}}">more info</a> </td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </section>
  <!--content end-->
  <!--footer -->
  <footer>
    <div class="wrapper">
      <ul id="icons">
        <li><a href="#" class="normaltip"><img src="../static/images/icon1.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="../static/images/icon2.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="../static/images/icon3.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="../static/images/icon4.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="../static/images/icon5.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="../static/images/icon6.jpg" alt=""></a></li>
      </ul>
      <div class="links">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
        Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
    </div>
  </footer>
  <!--footer end-->
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
jQuery(document).ready(function ($) {
    $('#form_4').jqTransform({
        imgPath: 'jqtransformplugin/img/'
    });
});
</script>
</body>
</html>